body{font-family: 'Tajawal', sans-serif!important; font-size:20px;font-display: swap!important;}
.crop_line_1{width:100%;display:inline-block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.crop_line_1_span{width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.crop_line_2{-webkit-line-clamp:2;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.crop_line_3{-webkit-line-clamp:3;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.crop_line_4{-webkit-line-clamp:4;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.def_img_cover{width:100%;height: 100%;-o-object-fit:cover;object-fit:cover;}

.single-blog{

}
.blog-meta{
    text-align: right;
    font-size: 14px;
    letter-spacing: 0!important;
    font-weight: bold;

}
.blog-text h3{
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    margin-rop: 2px;
    margin-bottom: 5px;

}
.blog-text p{
    text-align: right;
    font-size: 16px;
}

.ready-btn{

}

.single_blog_img{
    width: 100%!important;
    height: 260px!important;
}
.single_blog_img img{

    width:100%;
    height:100%;
    -o-object-fit:cover;
    object-fit:cover

}









