body{font-family: 'Tajawal', sans-serif!important; font-size:20px;font-display: swap!important;  text-align: right!important;}
.crop_line_1{width:100%;display:inline-block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.crop_line_1_span{width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.crop_line_2{-webkit-line-clamp:2;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.crop_line_3{-webkit-line-clamp:3;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.crop_line_4{-webkit-line-clamp:4;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.def_img_cover{width:100%;height: 100%;-o-object-fit:cover;object-fit:cover;}

.single-blog{

}
.blog-meta{
    text-align: right;
    font-size: 14px;
    letter-spacing: 0!important;
    font-weight: bold;

}
.blog-text h3{
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    margin-top: 2px;
    margin-bottom: 5px;

}
.blog-text p{
    text-align: right;
    font-size: 16px;
}

.ready-btn{

}

.single_blog_img{
    width: 100%!important;
    height: 260px!important;
}
.single_blog_img img{

    width:100%;
    height:100%;
    -o-object-fit:cover;
    object-fit:cover

}


.post_thumbnail{
    width: 100%!important;
    height: 420px!important;
}
@media only screen and (min-width: 1px) and (max-width:600px) {
    .post_thumbnail{
        width: 100%!important;
        height: 280px!important;
    }
}
.post_thumbnail img{
    width:100%;
    height:100%;
    -o-object-fit:cover;
    object-fit:cover
}

.blog_des_view{
    text-align: right!important;
    direction: rtl;
    font-size: 16px;
    line-height: 28px;

}

.blog_des_view img{

    margin-top: 15px!important;
    margin-bottom: 15px!important;
    max-width: 90%;

}


.blog_des_view{
    text-align: right!important;
    direction: rtl;

}

.blog_des_view h2{
    font-weight: bold;
    margin-top: 10px!important;
    margin-bottom: 10px!important;

}

.blogview_h1{
    text-align: right!important;
    direction: rtl;
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    margin-top: 2px;
    margin-bottom: 5px;
}

.Blogviewdate{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 100px;
}

.tag_div{
    text-align: right;
    display: table;
    padding: 5px 0 15px;
    width: 100%;
}

.tag_div a{
    font-size: 17px;
    color: #c6007e;
    font-weight: 700;
    line-height: 30px;
    padding: 0 5px;
    text-transform: capitalize;
    display: inline-block;

}

.blog_view_cat_list{
    text-align: right!important;
}



.category_text a{
    font-size: 17px;
    text-align: center!important;
}

.Blog_Img_Caption{
    float: right;
    display: block;
    width: 100%;
    background: red;
    text-align: center;
    padding-bottom: 10px;
}
.Blog_Img_Caption img{
    display: block;
    margin: auto!important;
    max-width: 90%!important;
    margin-bottom: 10px!important;
}






